{% extends 'dashboard.html' %}
{% block title %}Help{% endblock %}
{% block content%}
<h2>Need a Help?</h2>
<div>
    <h4>Create custom links</h4>
    <p>To create a custom link, follow the following steps:</p>
    <ul>
        <li>Paste the original long URL.</li>
        <li>Enter your brand domain. This field is only
            available for users with a paid account.
        </li>
        <li>Enter your back half. The back half of a URL is the part of the URL that comes after the domain name. 
            It is typically used to identify a specific page or resource on the website.</li>
        <li>Click on the <i>Create custom URL</i> button to get your custom short link.</li>
    </ul>
</div>

<div>
    <h4>My Custom URLs</h4>
    <p>This section contains all the custom url you have generated.
        You have the access to view the list of generated custom URLs, delete them and
        also visit the link.
    </p>
</div>

<div>
    <h4>Log me out</h4>
    <p>To log out:</p>
    <ul>
        <li>Click on the icon located in the top-right corner.</li>
        <li>Then click on the <i>Logout</i> button</li>
        <li><b>NB:</b> You can also find the <i>Logout</i> button in the homepage.</li>
    </ul>
</div>
{% endblock %}