{% extends 'base.html' %}
{% block title %}
Welcome to Bitsy
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="main-quote"><span style="color: rgb(139, 26, 245);">Connection</span> is the key to a more compassionate and just world.</h1>
        <p>Create short links and easily share them anywhere.</p>
    </div>
    
    <!--Main div to create a short URL-->
    <div class="row container">
        <div class="col-md-2"></div>
        <div class="col-md-8 outer-form-div container">
            <!--Long URL form-->
            <form method="post" action="{{url_for('index')}}" class="custom-form mb-3">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                {% if category=='error'%}
                <div class="alert alert-danger alert-dismissible fade show">
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                  {{message}}
                </div>
                {% elif category=='success' %}
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{message}}
                </div>
                {% elif category=='info' %}
                <div class="alert alert-info alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{message}}
                </div>
                {% elif category=='warning' %}
                <div class="alert alert-warning alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{message}}
                </div>
                {% endif %}
                
            {% endfor %}
            <div class="class="mb-3 mt-3">
                <b><label for="url" class="form-label">Paste a long URL:</label></b>
                <input type="url" name="url" id="url"
                    placeholder="Enter long URL" class="form-control"
                    value="{{ request.form['url'] }}" autofocus></input>
            </div>
            
            <!--Form button-->
            <div class="form-group text-center mt-3 mb-3">
                <button type="submit" class="btn btn-primary btn-md">Shorten URL</button>
            </div>
            </form>
            <!--End Long URL form-->

            {% if short_url %}
            <hr>
            <b><label for="short_url" class="form-label">Shortened URL:</label></b>
            <!--Generated short URL with a copy icon-->
            <div class="code-field input-group text-center">
                <input id="short-link" value="{{short_url}}" type="text" class="form-control code-field-input">
                <b class="input-group-text"><i class="uil uil-copy copy-text-icon text-center" data-bs-toggle="tooltip" title="copy url"></i></b>
            </div>
            {% endif %}
            <!--<span><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></span>-->
        </div>
        <div class="col-md-2"></div>

        
    </div>

    <!--Custom URL div to Get Started-->
    <div class="row text-center mt-4 p-5 jumbotron text-white rounded">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>A custom URL is your digital fingerprint. It's unique, identifiable, and impossible to forge. Make it count.</h2>
            <p>Create custom short links and own them.</p>
            {% if current_user.is_authenticated %}
            <a href="{{url_for('user_dashboard', user=current_user.username)}}" class="button-link mt-3 mb-3">Get Started</a>
            {% else %}
            <a href="{{url_for('login')}}" class="button-link mt-3 mb-3">Get Started</a>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
    <!--End of custom URL div-->

    <!--FAQ Section-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <b><h2 style="text-align: center;">Frequently asked questions</h2></b>
            <!--Accordion-->
            <div id="accordion">

                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                      What is a URL shortner?
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                        A URL shortener is a tool that takes a long URL (Uniform Resource Locator) and converts it into a shorter, more manageable link. 
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      What is a custom URL shortner?
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        A custom URL shortener is a URL shortening service that allows you to create branded short links. 
                        This means that instead of a randomly generated alphanumeric code, you can specify a word or phrase to be included in the URL.
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                      Benefits of a short URL?
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <ul>
                        <li>To make it easier to share links on social media, where there are character limits.</li>
                        <li>To track clicks and see how well your links are performing.</li>
                        <li>To create more memorable and professional-looking links.</li>
                        <li>To obfuscate your links and make them more difficult for spammers to track.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              
              </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}