{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title%} Sign In {% endblock %}
{% block content %}
<div class="row container">
    <div class="col-md-3"></div>
    <div class="col-md-6 outer-form-div">
        <h3 class="text-center" style="color: rgb(139, 26, 245);">Sign In</h3>
        <!--Login Form-->
        <form method="post" action="{{url_for('login')}}" class="custom-form mt-3 mb-3">
            {{ form.csrf_token() }}
            {% for category, message in get_flashed_messages(with_categories=true) %}
                {% if category=='error'%}
                <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{message}}
                </div>
                {% else %}
                <div class="alert alert-{{category}} alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{message}}
                </div>
                {% endif %}
                
            {% endfor %}
            <div class="mb-3 mt-3">          
                {{wtf.quick_form(form)}} 
            </div>
            
        </form>
            <p class="text-center"><a href="{{url_for('reset_request')}}">Forgot Password?</a></p>
            <p class="text-center"> Don't have an account? <a href="{{url_for('register')}}">Sign up</a></p>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}