{% extends 'dashboard.html'%}
{% block title %}{{current_user.username}}'s custom URLs{% endblock %}
{% block content%}
<div id="section-to-reload-custom-url">
  {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category=='error'%}
    <div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{message}}
    </div>
    {% else %}
    <div class="alert alert-{{category}} alert-dismissible fade show">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{message}}
    </div>
    {% endif %}
                
  {% endfor %}
  <h2>My Custom URL(s)</h2>
        <div class="card">
          <div class="card-header">
            Generated custom URLs
          </div>
          {% if custom_urls %}
          <div class="table-responsive">
            <table class="table table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Custom URL</th>
                  <th scope="col">Date created</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              {% for custom_url in custom_urls%}
              <tbody>
                <tr>
                  <td>
                    <!--Generated short URL with a copy icon-->
                    <div class="code-field input-group text-center">
                      <input id="short-link" value="{{custom_url.short_url}}" type="text" class="form-control code-field-input" disabled>
                      <b><i class="uil uil-copy copy-icon input-group-text text-center" data-bs-toggle="tooltip" title="copy url" data-text = "{{custom_url.short_url}}"></i></b>
                    </div>
                  </td>
                  <td>{{custom_url.created_at.strftime("%Y-%m-%d")}}</td>
                  <td>
                    <a onclick="openModal('view{{custom_url.short_id}}')" class="view-btn btn btn-primary btn-md">View</a>
                    <!-- View Modal -->
                    <div class="modal" id="view{{custom_url.short_id}}">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h5 class="modal-title">Details</h5>
                            <span class="close">&times;</span>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                            <div>
                              <b>Original URL:</b><br>
                              <span>{{custom_url.original_url}}</span><br>

                              <b>Custom URL:</b><br>
                              <span>{{custom_url.short_url}}</span><br>

                              <b>Domain:</b><br>
                              <span>{{custom_url.domain}}</span><br>

                              <b>Back Half:</b><br>
                              <span>{{custom_url.back_half}}</span><br>

                              <b>Date & time created:</b><br>
                              <span>{{custom_url.created_at.strftime("%Y-%m-%d %H:%M")}}</span><br>
                            </div>
                          </div>

                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button onclick="closeModal()" type="button" class="btn btn-danger">Close</button>
                          </div>

                        </div>
                      </div>
                    </div>
                    <a onclick="openModal('delete{{custom_url.short_id}}')" class="btn btn-danger btn-md">Delete</a>
                    <!-- Delete Modal -->
                    <div class="modal" id="delete{{custom_url.short_id}}">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h5 class="modal-title">Delete Confirmation</h5>
                            <span class="close">&times;</span>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                            <div>
                              <p>Are you sure you want to delete <i>{{custom_url.short_url}}</i>?</p>
                            </div>
                          </div>

                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <a href="{{url_for('delete', short_id=custom_url.short_id)}}" class="btn btn-danger">Delete</a>
                            <button onclick="closeModal()" type="button" class="btn btn-primary">Cancel</button>
                          </div>

                        </div>
                      </div>
                    </div>
                    <a href="{{url_for('visit_link', short_id=custom_url.short_id)}}" class="btn btn-basic btn-md">Visit Link</a>
                  </td>
                </tr>
              </tbody>
              <!--End of row-->
              {% endfor %}
            </table>
          </div>
          {% else %}
          <p class="text-center">No available custom url. You can create one <a href="{{url_for('user_dashboard', user=current_user.username)}}">here</a></p>
          {% endif %}
</div>
{% endblock %}

<!--
  Internal
  JavaScript
-->
<script type="text/javascript">
  const copyIcons = document.querySelectorAll(".copy-icon") // get all the classes with copy-icon 

  for (const copyIcon of copyIcons) { // for each copyIcon in the copyIcons class
    copyIcon.addEventListener("click", function(event) {
      const textToCopy = event.target.dataset.text;

      navigator.clipboard.writeText(textToCopy); // write the text to the clipboaard

      const notification = document.createElement("div");
      notification.classList.add("notification");
      notification.textContent= "Link copied to clipboard!";
      document.body.appendChild(notification); // add the notication to the document body

      setTimeout(function() {
        document.body.removeChild(notification); // remove the notication from the document body
      }, 3000);
    });
  }

// Get the modal div
var modals = document.getElementsByClassName("modal");

// Get the button that will be clicked to display a modal
var modalViewBtn = document.getElementsByClassName("view-btn");

// The modal that will be displayed when the button is clicked
var currentModal = null;

// Backdrop for the modal
const backdrop = document.createElement('div'); // create a div element
// backdrop.classList.add("modal-backdrop"); // add a class to the backdrop div

/*modals.addEventListener('show.bs.modal', function() {
  document.body.appendChild(backdrop);
});

modals.addEventListener('hidden.bs.modal', function() {
  document.body.removeChild(backdrop);
});*/

// Function to open modal by id
function openModal(id) {
  // Loop through the modals on the single page
  for (i = 0; i < modals.length; i++) {
    if (modals[i].getAttribute('id') == id) {
      currentModal = modals[i]; // Assigning the variable currentModal to a particular ith modal
      currentModal.style.display = "block"; // Change the display of the ith modal
      backdrop.classList.add("modal-backdrop");
      document.body.appendChild(backdrop);
      break;
    }
  }
}

// When the user clicks the button, open modal with the same id
modalViewBtn.onclick = function() {
  let currentID = modalOpenBtn.getAttribute('id');
  openModal(currentID);
  /*// Fade in the backdrop when the modal is opened
  backdrop.addEventListener('shown.bs.modal', function() {
    backdrop.style.opacity = 0.5;
  });

  // Fade out the backdrop when the modal is closed
  backdrop.addEventListener('hidden.bs.modal', function() {
    backdrop.style.opacity = 0;
  });*/
}

// Function to close the modal by id
function closeModal() {
  currentModal.style.display = "none";
  document.body.removeChild(backdrop);
}

// When the user clicks anywhere outside of the modal or the x, close
window.onclick = function(event) {
  if (event.target == currentModal || event.target.getAttribute('class') == 'close') {
    currentModal.style.display = "none";
    document.body.removeChild(backdrop);
  }
}
</script>