{% extends 'dashboard.html'%}
{% block title %}{{current_user.username}}'s custom URLs{% endblock %}
{% block content%}
<div id="section-to-reload-custom-url">
  {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category=='error'%}
    <div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{message}}
    </div>
    {% else %}
    <div class="alert alert-{{category}} alert-dismissible fade show">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{message}}
    </div>
    {% endif %}
                
  {% endfor %}
  <h2>My Custom URL(s)</h2>
        <div class="card">
          <div class="card-header">
            Generated custom URLs
          </div>
          {% if custom_urls %}
          <div class="card-body">
            <table style="overflow: scroll;" class="table">
              <thead>
                <tr>
                  <th scope="col">Custom URL</th>
                  <th scope="col">Date created</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              {% for custom_url in custom_urls%}
              <tr>
                <td>
                  <!--Generated short URL with a copy icon-->
                  <div class="code-field input-group text-center">
                    <input value="{{custom_url.short_url}}" type="text" class="form-control code-field-input" disabled>
                    <b><i class="uil uil-copy copy-icon input-group-text text-center" data-bs-toggle="tooltip" title="copy url" data-text = "{{custom_url.short_url}}"></i></b>
                  </div>
                </td>
                <td>{{custom_url.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#{custom_url.short_id}">View</button>
                  <a href="{{url_for('delete', short_id=custom_url.short_id)}}" class="btn btn-danger btn-md">Delete</a>
                  <a href="{{url_for('visit_link', short_id=custom_url.short_id)}}" class="btn btn-info btn-md">Visit Site</a>
                </td>
              </tr>
              <!-- Modal -->
              <div id="{{custom_url.short_id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
              {% endfor %}
            </table>
          </div>
          {% else %}
          <p class="text-center">No available custom url. You can create one <a href="{{url_for('user_dashboard', user=current_user.username)}}">here</a></p>
          {% endif %}
</div>
<!-- Trigger the modal with a button
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
<script type="Text/JavaScript">
  const copyIcons = document.querySelectorAll(".copy-icon") // get all the classes with copy-icon 

  for (const copyIcon of copyIcons) { // for each copyIcon in the copyIcons class
    copyIcon.addEventListener("click", function(event) {
      const textToCopy = event.target.dataset.text;

      navigator.clipboard.writeText(textToCopy); // write the text to the clipboaard

      const notification = document.createElement("div");
      notification.classList.add("notification");
      notification.textContent= "Link copied to clipboard!";
      document.body.appendChild(notification); // add the notication to the document body

      setTimeout(function() {
        document.body.removeChild(notification); // remove the notication from the document body
      }, 3000);
    });
  }
</script>
{% endblock %}