{% extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel-default">
        <div class="panel-body">
            <p style="text-align: justify;"> Bitsy is an online platform that allows both anonymous and authenticated users 
                to generated short links. Authenticated users i.e. users that have their account registered on this 
                platform, can also create custom short links 
                for their brands inorder to be able to share them easily on social media.
            </p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}