{% extends 'base.html'%}
{% block title%}
Why Bitsy?
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel-default">
        <div class="panel-body">
            <p style="text-align: justify;"> Bitsy is an online platform that allows both anonymous and authenticated users 
                to generated short links. Authenticated users i.e. users that have their account registered on this 
                platform, can also create custom short links 
                for their brands inorder to be able to share them easily on social media.
            </p>
        </div>
        <div class="panel-body">
            <p style="text-align: justify;">The purpose of a URL shortener web app is to shorten long URLs into shorter, 
                more manageable links. This can be useful for a variety of reasons, including:
            </p>
            <ul style="text-align: justify;">
                <li>
                    To make URLs more visually appealing and easier to share. 
                    Long URLs can be unsightly and difficult to remember, especially when shared on social media 
                    or in other online contexts. Shortened URLs are more visually appealing and easier to remember, 
                    which makes them more likely to be shared.
                </li>
                <li>
                    To track URL clicks and engagement. URL shortener web apps can track how many times a shortened URL is
                    clicked and where the clicks are coming from. 
                    This information can be used to track the success of marketing campaigns and to identify popular content.
                </li>
                <li>
                    To disguise the destination URL. URL shortening services can be used to disguise the destination URL 
                    of a link. This can be useful for preventing spam filters from blocking links or for protecting user 
                    privacy.
                </li>
            </ul>
        </div>
        
        <div class="panel-body">
            <p style="text-align: justify;">
                This web application is widely used by individuals, businesses, and organizations. 
                It's a valuable tool for making URLs more manageable, trackable, and engaging.
            </p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}