/* Default font used by the website */
.site-font {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

/*Logo font styling */
.logo-font {
font-family: 'Beth Ellen', cursive;
font-size:xx-large;
color: rgb(142, 25, 252);
font-weight: 700;
}

.main-quote {
font-family: 'Ubuntu', sans-serif;
/*font-size: x-large;
font-weight:800;*/
}

.outer-form-div {
margin: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 10px;
padding: 4%;
margin-bottom: 7%;
}

.button-link {
background-color: white;
padding: 15px 25px;
border-radius: 7px;
text-decoration: none;
color: black;
font-size: larger;
margin: 10%;
}

.button-link:hover {
border: 2px solid black;
color: rgb(5, 5, 5);
}

/*copy icon style */
.code-field {
border: 1px solid #141313;
padding: 10px;
border-radius: 8px;
}

.code-field-input {
border: 2px solid rgb(145, 35, 248);
border-radius: 8px;
}

.code-field i {
font-size: larger;
color: rgb(139, 26, 245);
font-weight: bold;
padding: 7px;
}

.code-field i:hover {
color: white;
background-color: rgb(139, 26, 245);
border-radius: 5px;
transition: 0.2s;
}

.copy-text-icon {
cursor: pointer;
}

/*end copy icon style */

/* Jumbotron Style */
.jumbotron {
background-color: rgb(139, 26, 245);
margin: 10%;
border-radius: 8px;
}

.jumbotron h2 {
font-family: 'Ubuntu Mono', monospace;
}
/* End Jumbotron Style */

/*Copy code notication style */
.copy-code-notification {
position: fixed;
top: 10px;
right: 10px;
padding: 10px;
background-color: green;
color: white;
font-size: 16px;
z-index: 100;
}

/* Dashboard Styles */
.edit-profile-button {
text-decoration: none;
padding: 5px 25px;
border: 1px solid black;
border-radius: 7px;
color: black;
}

.edit-profile-button:hover {
background-color: rgb(139, 26, 245);
color: white;
transition: 0.2s;
}

h2, h3, h4 {
font-family: 'Ubuntu Mono', monospace;
}

/* Bootstap Wtf Styles */
.custom-form {
margin-bottom: 30px;
}

.custom-form input {
border-radius: 5px;
border-color: #9a44fd;
padding: 10px;
margin-bottom: 20px;
}

.custom-form input:focus {
border-radius: 5px;
border-color: #9a44fd;
padding: 10px;
border-width: 3px;
transition: 0.17s;
box-shadow: none;
}

.custom-form input[type="submit"] {
background-color: #007bff;
border-color: #007bff;
color: white;
padding: 10px 15px;
border-radius: 5px;
margin-top: 20px;
text-align: center;
}

.custom-form input[type="submit"]:hover {
background-color: #0770e0;
border-color: #007bff;
transition: 0.1s;
justify-self: center;
}

.custom-form p{
color: #dc3545;
}

.message-div {
transition: 0.2s;
}

.notification {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
padding: 12px 22px;
color: white;
background-color: #0c0c0c;
border-radius: 6px;
transition: 0.7s;
position: fixed;
bottom: 6px;
left: 5px;
}

/* Modal Styles */
.modal {
display: none;
overflow: auto;
background-color: 0, 0, 0, 0.4;
-webkit-animation: animatetop;
-webkit-animation-duration: 0.4s;
animation: animatetop 0.4s timing-function delay iteration-count direction fill-mode;
animation-name: animatetop;
animation-duration: 0.4s;
}

@keyframes animatetop {
from {top: -300px; opacity: 0;};
to {top:0; opacity:1};
}

/* Add Animation Function
@-webkit-keyframes animatetop {
from {top: -300px; opacity: 0}
to {top: 0; opacity: 1;}
}*/

.modal-header {
background-color: #9a44fd;
color: white;
padding: 5px;
}

.modal-header span {
transition: 0.5s;
font-size: 24px;
}

.modal-header span:hover {
font-weight: bold;
color: black;
transition: 0.2s;
cursor: pointer;
font-size: 24px;
}

.footer {
background-color: rgb(22, 12, 31);
color: white;
margin-top: 30px;
padding: 20px;
}

/*Media Queries Styles*/
@media (max-width: 600px) {
.table {
  overflow-x: scroll;
}
}